@page
@model Palatul_Copiilor.Pages.Reservations.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Reservation.Id" />
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="Reservation.ActivityId" class="control-label"></label>
                <select asp-for="Reservation.ActivityId" class="form-control" asp-items="ViewBag.ActivityId" aria-required="true"></select>
                <span asp-validation-for="Reservation.ActivityId" class="text-danger"></span>
            </div>
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="Reservation.ReservedAt" class="control-label"></label>
                <input asp-for="Reservation.ReservedAt" class="form-control" aria-required="true"/>
                <span asp-validation-for="Reservation.ReservedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.ParticipantName" class="control-label"></label>
                <input asp-for="Reservation.ParticipantName" class="form-control" />
                <span asp-validation-for="Reservation.ParticipantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
